<!-- <html>
	<head>
		<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>

<body>
  -->

	



  <br>
	<form action='/' method="POST">
		<input type="text" name="title" placeholder="name of website">
		<input type="text" name="url" placeholder = "URL">
		<input type="text" name="tags" placholder = "tags">
		<button class="button" name="add" >add</button>
	</form>


	<ul>
		<% @links.each do |link| %>
		<li class='link'>
			<a class='title' href="<%= link.url %>"><%= link.title %></a>
			<div class='description'>
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  		</div>
  		<span class='source'> added yesterday by <a href="#">evgeny@makersacademy.com</a>
  		</span>


			<% link.tags.each do |tag|%>
				<a href="/tags/<%= tag.tagname%>" class="tag">
					<%=tag.tagname %>
				</a>
			<% end %>
		</li>
		<% end %>
	</ul>

</body>
<!-- 
</html> -->