	<head>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">  
	  <link rel="stylesheet" href="/stylesheets/style.css">

	</head>
	<header>

		<div id="logo">Bookmark Manager</div>
			<% unless current_user %>
		  	<a class="button" href="/users/new">Sign Up</a>
		  	<a class="button" href="/sessions/new">Log in</a>
		  <% end %>
	</header>
	
	<body>
	<div id="user-links">
		<% if current_user %>
			<span id="welcome-message"> Welcome, <%= current_user.email %></span>
			<form method="post" action="/sessions">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Sign Out">
			</form>
		<% else %>

		<% end %>
	
		<% if flash[:notice] %>
			<div id="notice">
				<%= flash[:notice] %>
			</div>
		<% end %>
	</div>
	
	<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form.
	<ul id="errors">
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>


	<%= yield %>

	</body>
