<html>
	<head>
		<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
	  <%= current_user %>
	  <% if current_user %>

	    Welcome, <%= current_user.email %>
	  <% end %>
	  <%= yield %>
	</body>

</html>