	<head>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">  
	  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">

	</head>
	<header>
		<div id="logo">Bookmark Manager</div>
			<% unless current_user %>
			<div id="signup">
		  	<a class="button new-user" href="/users/new">Sign Up</a>
		  	</div>
		  	<div id="login">
		  	<a class="button new-session" href="/sessions/new">Log In</a>
		  	</div>
			<% else %>
		  	<a href="/links/new" class="add-link button highlighted">Add Link</a>
		  <% end %>
	</header>
	
	<body>
	<div id="user-links">
		<%= erb :header %>
		<%= erb :flash %>
	</div>
	<%= yield %>
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	  <script src="/javascript/application.js"></script>
	</body>

<footer>
  <div id="makersacademy-logo">
    <a href="http://www.makersacademy.com/">
      <img src="http://www.makersacademy.com/images/logo.png">
    </a>
  </div>
  <div id="technologies">
    <p>
      I built this page at 
      <a href="http://www.makersacademy.com">Makers Academy,
      a highly selective 12 week coding course in London</a>.
    </p>
    <p>
      This website is built using Ruby, Sinatra, 
      RSpec, Capybara, HTML and CSS.
    </p>
  </div>
</footer>