<form action='/users' method="POST">
	<div> 
		<div class="alignLeft">
		<label>
			Username:
		</label>
		</div>
		<input type="text" name="username" placeholder="username">  
	</div>
	<div>
		<div class="alignLeft">
		<label> Email: </label></div>
		<input type="text" name="email" placeholder="email" value=<%= @user.email%>>
	</div>
	<div> 
		<div class="alignLeft">
			<label> Password:</label> 
		</div>
		<input type="password" name="password" placeholder="password">
	</div>
	<div> 
		<div class="alignLeft">
		<label> Password Confirmation: </label>
		</div>
		<input type="password" name="password_confirmation" placeholder="password_confirmation">
	</div>
	<div>
		<button class="button" name="Sign Up">Sign Up</button>
	</div>
</form>
<br clear='all'>