<html>

<head></head>

<body>
	<% if flash[:errors] && !flash[:errors].empty? %>
	  Sorry, there were the following problems with the form. 

	 <ul id="errors">
	 	<% flash[:errors].each do |error| %>
	 		<li><%= error %></li>
	 	<% end %>
	 </ul>
	<% end %>
	
	<form action='/users' method="POST">
		Email: <input type="text" name="email" placeholder="email" value = <%= @user.email%>>
		Password: <input type="text" name="password" placeholder="password">
		Password Confirmation: <input type="text" name="password_confirmation" placeholder="password_confirmation">
		
		<button class="button" name="Sign Up" >Sign Up</button>

	</form>
</body>


</html>