header {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  padding: 5px;
}

header #logo {
  margin: auto 0;
  display: flex;  
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 32
}

.button {
	color: white;
	font-family: Helvetica, Arial, Sans-serif;
	height: 50px;
	padding-top: 13px;
    padding-bottom: 23px;
    padding-right: 5px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 24



}

form input{
	font-family: Helvetica, Arial, Sans-serif;

	padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;

}

/*form .button{
	font-family: Helvetica, Arial, Sans-serif;

	padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;

}*/

body {
	padding: 5px;
	font-family: Helvetica, Arial, Sans-serif;
	background-image:url('extra_clean_paper.png');
	background-color:#cccccc;
}

