
<h2>Please provide your email</h2>

<form method ="post" action="/sessions/recover">
	<p>
	<input type="text" name="email" placeholder="Email address">
	</p>
	<p>
	<input type="submit" value="Recover" class="button">
	</p>
</form>

