
<html>
  <head>	
  </head>
    <body>

      <header>
      	<% unless flash[:errors].nil? %>
      		<%= flash[:errors]%>
      	<% end %>

      </header>
      Please provide a new password
        <form action='/users/reset_password' method="POST">
          Password: <input type='password' name='password'>
          Password Confirmation: <input type = 'password' name='password_confirmation'>
          <input type = "hidden" name=token value="<%=@token%>">
          <input type = "submit" value= "Reset Password" class="btn btn-default">
      </form>
    </body>
</html>

